html {
    font-family: Ubuntu;
    background: rgb(217,213,176);
    background: linear-gradient(180deg, rgba(217,213,176,1) 0%, rgba(237,186,119,1) 100%);
    background: rgb(240,230,249);
    background: linear-gradient(180deg, rgba(4,3,9,1) 0%, rgba(6,7,4,1) 100%);
    margin-right: 10%;
    margin-left:10%;
    color:white;
    --font-size:2.5vw;
}
h1 {
    font-size:10vw;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(50,186,19,1) 100%);
}
#name1 { font-family:'Ubuntu', sans-serif;line-height: 5vw; } 
h2 { font-size:8vw;
}



#header {
    filter:invert() drop-shadow(12px 12px 25px rgba(255,255,255,.4));
    -webkit-filter: invert() drop-shadow(12px 12px 25px rgba(255,255,255,.4));

  text-align: center;
    display: block;

  margin-left: auto;
  margin-right: auto;
}

.links{
  text-align: center;
    font-size:5vw;
    background: linear-gradient(90deg, rgba(50,186,19,1) 0%, rgba(0,0,0,1) 100%);
    margin-top:5%;
}

   a {color: rgba(148, 179, 154,1);

    text-shadow: 12px 12px 25px rgba(0,0,0,.4);

   }  




.flex-container{
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  overflow: hidden;
  z-index: 222;
  font-size:1vw ;
}

@media (min-width: 600px){
    .navbar{
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        width: 3rem;
        height: 100vh;
        align-items: center;
    }

    .navbar .pink-line{
        background-color: var(--pink-line);
        width: 0.1rem;
        height: 4rem;
    }

    .navbar .flex-container{
        flex-direction: row-reverse !important;
    }
    p{
        font-size:2.5vw;
    }
 
}
@media (max-width: 600px){
    p{
        font-size:6vw;
    }


}

.video-responsive{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.video-responsive iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
